

/* notes for variables until LESS can be installed and used  */
/* 
	font-family: 'IBM Plex Sans', sans-serif; -- Regular 400 -- subheaders / section headers
	font-family: 'Kumbh Sans', sans-serif; -- Bold 700 -- main titles / section headers 
	font-family: 'Recursive', sans-serif; -- light 300 + regular 400 -- body text

	color theme: 
	black -- 0B1210
	washed olive -- 595E4A
	grey -- 6B7A65
	green -- 508D6A
	white -- F9F7E8 -- use for site background
*/

/*  actual CSS code implementation */
/* 


/* notes for variables until LESS can be installed and used  */
/* 
	font-family: 'IBM Plex Sans', sans-serif; -- Regular 400 -- subheaders / section headers
	font-family: 'Kumbh Sans', sans-serif; -- Bold 700 -- main titles / section headers 
	font-family: 'Recursive', sans-serif; -- light 300 + regular 400 -- body text
  font-family: 'Libre Barcode 39 Text', cursive; -- logo TM
	
  color theme: 
	black -- 0B1210
	washed olive -- 595E4A
	grey -- 6B7A65
	green -- 508D6A
	white -- F9F7E8 -- use for site background
*/

