/* Ryan-Mas Reset Implementation for browser + element consistency */
html,
body,
div,
span,
applet,
object,
/* iframe, */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

Html {
  font-size: 80%;
}

/* *setting a basic transition param for all elems to smooth changes* */
* {
  transition: .3s ease-in-out
}

/* * POP UP STYLING * */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 80%;
  background-color: white;
  height: 85%;

}

.inner__closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
}


/*  *SOME GENERAL POP UP FRAMEWORK STYLINF SUPPORT* */
.inner__closeBtn {
  border-radius: 25px;
  color: #263c6d;
  background-color: #ffffff;
  border: 2px solid #263c6d;
}

.inner__closeBtn:hover {
  color: #ffffff;
  background-color: #263c6d;
  border: 2px solid #e33d26;
}

