/* Ryan-Mas Reset Implementation for browser + element consistency */
html,
body,
div,
span,
applet,
object,
/* iframe, */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

Html {
  font-size: 80%;
}

/* *setting a basic transition param for all elems to smooth changes* */
* {
  transition: .3s ease-in-out
}

/* * POP UP STYLING * */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 80%;
  background-color: white;
  height: 85%;

}

.inner__closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
}


/*  *SOME GENERAL POP UP FRAMEWORK STYLINF SUPPORT* */
.inner__closeBtn {
  border-radius: 25px;
  color: #263c6d;
  background-color: #ffffff;
  border: 2px solid #263c6d;
}

.inner__closeBtn:hover {
  color: #ffffff;
  background-color: #263c6d;
  border: 2px solid #e33d26;
}

/* *responsive styling done here since I am not feeling moving it right now.*  */

@media screen and (max-height: 750px) {
  #SGY {
    margin-top: 15%;
  }
}


@media screen and (max-height: 660px) {
  #SGY {
    margin-top: 30%;
  }
}

@media screen and (max-height: 610px) {
  #SGY {
    margin-top: 55%;
  }
}

@media screen and (max-height: 510px) {
  #SGY {
    margin-top: 75%;
  }
}

/* *hot fix for the programming banner not being visible at full width* */
@media screen and (min-width: 1200px) {
  .viewmore__programming {
    justify-content: space-around;
  }
}

.container__libContainer {
  height: 55%;
  /* border: 2px solid red; */

}

.programming__container h2 {
  font-size: 3rem;
}

.media__container {
  padding-top: 10%;
}

.media__container h2 {
  font-size: 3rem;
}

.ecomm__container {
  padding-top: 10%;
}

.ecomm__container h2 {
  font-size: 3rem;
}

.programming__container p {
  font-family: 'Recursive', sans-serif;
  line-height: 130%;
  font-size: 1.3rem;
}

.programming__container a {
  text-decoration: none;
  font-weight: 750;
  color: #263c6d;
}

.programming__container a:hover {
  font-weight: 550;
  text-decoration: underline;
}

.libContainer__header {
  font-family: 'Kumbh Sans', sans-serif; 
  font-size: 1.75rem;
}

.viewmore__media {
  height: 70vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.viewmore__media p {
  font-family: 'Recursive', sans-serif;
  line-height: 130%;
  font-size: 1.3rem;
}

.viewmore__media a {
  text-decoration: none;
  font-weight: 750;
  color: #263c6d;
}

.viewmore__media a:hover {
  font-weight: 550;
  text-decoration: underline;
}



.container__linkName {
  margin-top: 1%;
}

.container__desc {
  font-family: 'Recursive', sans-serif;
  line-height: 130%;
}

.viewmore__ecomm {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.viewmore__ecomm p {
  font-family: 'Recursive', sans-serif;
  line-height: 130%;
  margin-top: 1%;
  font-size: 1.3rem;
}

.viewmore__ecomm a {
  text-decoration: none;
  font-weight: 750;
  color: #263c6d;
}

.viewmore__ecomm a:hover {
  text-decoration: underline;
  font-weight: 550;
}

.EntertainJobs {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.EntertainJobs a {
  text-decoration: none;
  font-weight: 600;
}

.EntertainJobs a:hover {
  text-decoration: underline;
}

.EntertainJobs p {
  text-align: center;
  font-family: 'Recursive', sans-serif;
} 

/* *MEDIA QUERIES FOR RESPONSIVE CONSIDERATION* */

/* ! 1500px, sized up to fix a bug ! */
@media screen and (max-width: 1510px) {
  /* turn skills button to column */
  .skillsHeader__areaContainer {
    /* border: 2px solid black; */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 110%;
    padding-bottom: 1%;
  }
  .areaContainer__button {
    margin-bottom: 1%;
  }
}

/*  ! 1240px (dropped down a bit to fix a bug) !  */
@media screen and (max-width: 1230px) {
  
  .areaContainer__button {
    margin-top: 1.5%;
  }

  /* work experience modification  */

  .WorkExp {
    margin: 3% auto;
    flex-direction: column;
    justify-content: space-between;
  }

  .WorkExp__mainItems {
    /* border: 2px solid red; */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 10%;
  }

  .epicComp {
    width: 95%;
    padding-top: 2%;
  }

  .visaComp {
    width: 95%;
    padding-top: 5%;
  }

  /* additional experience to column */
  .jobsHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding-bottom: 3%;
  }
  
  .jobsHeader__areaContainer {
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
  }

  /* modifications to education section */

  .Education__contentFrame {
    display: flex;
    flex-direction: column;
    height: 100%;

  }

  .Education__header {
    padding-bottom: 7%;
  }

  .EduMrkt__minorFrame {
    padding-bottom: 4%;
    padding-top: 5%;
  }

  .minorFrame__minorDesc {
    padding-bottom: 2%;
  }

  .Education__rule {
    height: 0px;
    width: 95%;
    border: 2px dashed #e4dce4;
  }

  .EduMrkt {
    width: 95%;
  }

  .EduProg {
    width: 95%;
    padding-top: 3%;
  }

  .EduProg__descFrame {
    padding-top: 2%;
  }

  /* modifying the footer elements */
  .Footer {
    flex-direction: column;
    height: 100%;
    margin-top: 5%;
  }

  .Contact {
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    padding-bottom: 2%;
    padding-top: 2%;
  }

  .Contact__header {
    width: 50%;
  }

  .SiteFooter {
    width: 100%;
    height: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .Education__contentFrame {
    height: 100%;
  }


  .EcommJobs {
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    /* border: 2px solid red; */
  }


  .EcommJobs__jobFrame {
    /* border: 2px solid red; */
    width: 95%;
    height: 100%;
    justify-content: space-around;
    padding-top: 5%;

  }

  .viewmore__programming {
    overflow-y: scroll;
    overflow-x:visible;
    width: 100%;
    /* flex-wrap: wrap */
  }

  .programming__container {
    padding-top: 15%;
  }

  .EcommJobs__rule {
    display: none;
  }

  .header__iconContainer {
    margin-left: 67.5%;
  }

  .header__intro {
    padding-left: 5%;
    padding-top: 5%;
  }

  .header {
    margin-bottom: 2%;
  }

  /* modfiying the epic view more page */
  .viewmore__banner {
    background-position: top;
  }

  .titleContainer__name {
    font-size: 3.5rem;
    color: #c4e4ec;
  }

  .titleContainer__title {
    font-size: 1.8rem;
    width: 50%;
  }

  .viewmore__sectionContainer {
    /* border: 2px solid red; */
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-bottom: 30%;
  }

  .viewmore__rule {
    height: 1px;
    width: 95%;
    border: 1.5px dashed black;
    margin-bottom: 7.5%;
    margin-top: 7.5%;
  }

  .sectionContainer__technical {
    width: 95%;
  }

  .sectionContainer__ownership {
    width: 95%;
  }

  /*  modifying the VISA view more section */

  .viewMore__details {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .descGrouper__unlist li {
    padding-top: 1.25%;
  }

  .viewMore__visa {
    position: relative;
    
  }

  .comingSoon__title {
    text-align: center;
  }

  .viewMore__comingSoon {
    margin-bottom: 5%;
  }

}

/* ? modifies the view more visa page for when a monitor is inverted */
@media screen and (min-height: 1000px) {
  .viewMore__visa {
    /* border: 2px solid red; */
    padding-top: 32.5%;
  }
  .viewMore__comingSoon p {
    padding-bottom: 2%;
  }
}

/* ! 960px ! */

@media screen and (max-width: 960px) {
  /* .header__iconContainer {
    margin-left: 70%;
  }

  .header__intro {
    padding-left: 5%;
    padding-top: 5%;
  }

  .header {
    margin-bottom: 2%;
  } */

  .header__iconContainer {
    display: none;
  }

  .jobsHeader__areaContainer {
    height: 50%;
    padding-top: 2%;
  }

  .Contact {
    height: 80%;
  }

  .Contact__header {
    padding-left: 0%;
    width: 50%;
  }

  .WorkExp__header {
    text-align: center;
  }

  .EduMrkt__header {
    padding-bottom: 2%;
  }

  .EduProg__header {
    padding-bottom: 2%;
  }

  .viewMore__comingSoon {
    margin-bottom: 12.5%;
  }

  .Contact__header {
    font-size: 1.5rem;
  }

  .jobsHeader {
    padding-top: 5%;
    padding-bottom: 6%;
  }

  .Education__header {
    padding-top: 4%;
  }
}

/* ? hides the viewmore banner at sizes smaller than 750px becuase, honesntly, at that point it isn't really needed. */
@media screen and (max-width: 750px) {
  .viewmore__banner {
    display: none;
  }
}

/*  ! 650px ! */
@media screen and (max-width: 650px) {

  .jobsHeader__areaContainer {
    justify-content: space-around;
  }


  .Education {
    justify-content: space-around;
    height: 100%;
    /* border: 2px solid red; */
  }

  .contentFrame__rule {
    display: none;
  }


  .EduMrkt__courseFrame {
    display: none;
  }


  .EduMrkt__descFrame {
    width: 95%;
    padding-top: 2%;
  }

  .EduMrkt__minorFrame {
    height: 45%;
    padding-top: 6%;
  }

  .minorFrame__title {
    padding-bottom: 3%;
  }

  .minorFrame__minor {
    padding-top: 3%;
  }

  .EduProg__courseFrame {
    display: none;
  }

  .EduProg__descFrame {
    width: 95%;
  }

  .descFrame__progDesc {
    width: 95%;
  }

  .EduProg__minorFrame {
    height: 45%;
  }

  .descFrame__rule {
    display: none;
  }

  .descFrame__unlist {
    display: none;
  }

  .viewmore__media {
    height: 100%;
  }

  .areaContainer__button {
    width: 400px;
  }

  .welcome__title {
    text-align: center;
  }


  .NotifBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40vh;
  }

  .welcome__entryButton {
    width: 350px;
  }

  .viewmore__sectionContainer {
    margin-bottom: 37.5%;
    padding-top: 5%;
  }

  .return__button {
    width: 375px;
  }

  .viewMore__comingSoon {
    margin-bottom: 17.5%;
  }

  .Trademark p {
    font-size: 2.25rem;
    text-align: center;
  }

}

/* ! 400px ! */
@media screen and (max-width: 400px) {
  .areaContainer__button {
    width: 90%;
  }

  .Trademark__text {
    display: none;
  }

  .Trademark__text_mobile {
    display: block;
  }

  .imgContainer__img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__iconContainer_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: #ffffff;
    border-radius: 100px;
    border: 2px solid #e33d26;
    box-sizing: border-box;
  }

  .iconContainer__img_mobile {
    background-image: url("./assets/alex.jpeg");
    height: 90%;
    width: 90%;
    border-radius: 100px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #FFFFFF;
  }

  .ownership__title {
    padding-bottom: 2%;
  }

  .technical__title {
    padding-bottom: 2%;
  }

}