.Edu {
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2% 1% 2% 1%;
}
.Edu__header {
    width: 100%;
    height: 100%;
    padding-bottom: 1.5%;
}

.EduProg {
    height: 100%;
    width: 50%;
}

.EduProg__header {
    font-size: 3rem;
    font-weight: 600;
}

.EduProg__subheader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 2.5%;
    color: #808080;
}

.descFrame__progDesc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    width: 90%;
    padding-left: 2%;
}


.EduCert {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.EduCert__certContainer {
    padding-bottom: 5%;
}

.certContainer__title {
    font-size: 3rem;
    font-weight: 600;
}

.certContainer__desc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    width: 90%;
    padding-left: 2%;
}

.EduMrkt {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.EduMrkt__contentFrame {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.EduMrkt__descFrame {
    margin-right:  0;
    width: 50%;
}

.EduMrkt__header {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 2%;
}

.EduMrkt__subheader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 2.5%;
    color: #808080;
}

.descFrame__desc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    width: 90%;
    padding-right: 2%;
    padding-left: 2%;
}

.EduMrkt__minorFrame {
    width: 50%;
    padding-left: 2%;
}

.minorFrame__title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    padding: 0 0 1.5% 0;
    color: #808080;
}

.minorFrame__minor {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: #e33d26;
    font-size: 1.75rem;
    padding-bottom: 1%;
}

.minorFrame__minorDesc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    width: 90%;
    padding-left: 2%;
    padding-bottom: 2%;
}

@media only screen and (max-width: 1500px) {
    .Edu {
        flex-direction: column;
        padding-left: 3%;
    }
    .EduProg {
        width: 90%;
    }

    .EduCert {
        width: 90%;
    }
}

@media only screen and (max-width: 1000px) {
    .EduMrkt__contentFrame {
        flex-direction: column;
        width: 90%;
    }
    .EduMrkt__descFrame {
        width: 100%;
        margin-bottom: 5%;
    }
    .EduMrkt__minorFrame {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .EduProg__header {
        font-size: 2rem;
    }
    .EduCert > div > h2 {
        font-size: 2rem;
    }
    .EduCert > div > h3 {
        font-size: 1.2rem;
    }
    .EduProg > div > h2 {
        font-size: 2rem;
    }
    .EduProg > div > h3 {
        font-size: 1.2rem;
    }
    .EduMrkt > div > h2 {
        font-size: 2rem;
    }
    .EduMrkt > div > h3 {
        font-size: 1.2rem;
    }
    .minorFrame__minor {
        font-size: 1.6rem;
    }
    .Edu__header {
        font-size: 3.5rem;
    }
    .minorFrame__minorDesc {
        font-size: 1.2rem;
    }
    .descFrame__desc {
        font-size: 1.2rem;
    }
    .certContainer__desc {
        font-size: 1.2rem;
    }
    .descFrame__progDesc {
        font-size: 1.2rem;
    }
}

