.Design {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

#Des004 {
    margin-top: -20%;
}



@media only screen and (max-width: 1250px) {
    #Des004 {
        margin-top: 2%;
    }
    
    .Design {
        flex-direction: column;
        align-items: center;
    } 
}