.Photo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: left;
    justify-content: space-around;
}

@media only screen and (max-width: 1250px) {
    .Photo {
        flex-direction: column;
        align-items: center;
    } 
}
