/* Ryan-Mas Reset Implementation for browser + element consistency */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

Html{
	font-size: 62.5%;
}

/* notes for variables until LESS can be installed and used  */
/* 
	font-family: 'IBM Plex Sans', sans-serif; -- Regular 400 -- subheaders / section headers
	font-family: 'Kumbh Sans', sans-serif; -- Bold 700 -- main titles / section headers 
	font-family: 'Recursive', sans-serif; -- light 300 + regular 400 -- body text

	color theme: 
	black -- 0B1210
	washed olive -- 595E4A
	grey -- 6B7A65
	green -- 508D6A
	white -- F9F7E8 -- use for site background
*/


/*  actual CSS code implementation */

/* *APP STYLING* */
.App {
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h1 {
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 4.0rem;
	color: #508D6A;
}

h2 {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 1.5rem;
	line-height: 130%;
	color: #595E4A;
}


/* *HEADER COMPONENT STYLING* */
.header {
	height: max-content;
	width: 100%;
	/* border: 2px solid black; */
}

.header__iconContainer {
	height: 150px;
	width: 150px;
	margin-top: -75px;
	/* ! margin-left: auto; */
	/* ! won't auto out to center left alignment and not sure why? */
	margin-left: 3%;
	position: absolute;
	background-color: #FFFFFF;
	border: 1px solid #6B7A65;
	opacity: 900%;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.iconContainer__img {
	height: 90%;
	width: 90%;
	background-image: url("./assets/alex.jpeg");
	background-position: center;
	border-radius: 100px;
	opacity: 90%;
}

.header__imgContainer {
	width: 100%;
	height: 300px;
	opacity: 70%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.imgContainer__img {
	height: 98%;
	width: 99%;
	background-image: url("./assets/inertia/1.jpg");
	background-position: center 20%;
	
}

.header__intro {
	margin-left: 19%;
	/* border: 2px solid black; */
	width: 65%;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.header__intro p {
	font-family: 'Recursive', sans-serif;
	line-height: 130%;
	font-weight: 350;
}

/* *WORK EXPERIENCE STYLES* */
.WorkExp {
	/* border: 2px solid black; */
	width: 95%;
	margin: 5% auto;
	height: 1000px;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
}

.WorkExp h1 {
	margin: 0 auto;
}

.WorkExp__mainItems {
	display: flex;
	justify-content: space-around;
	margin: 1% auto;
}

.epicComp {
	width: 45%;
	height: 175px;
	/* border: 2px solid black; */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.epicComp p {
	font-family: 'Recursive', sans-serif;
	line-height: 130%;
	font-weight: 350;
}

.epicComp a {
	font-family: 'Recursive', sans-serif;
	line-height: 130%;
	font-weight: 550;
}

.visaComp {
	width: 45%;
	height: 175px;
	/* border: 2px solid black; */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.visaComp p {
	font-family: 'Recursive', sans-serif;
	line-height: 130%;
	font-weight: 350;
}

.visaComp a {
	font-family: 'Recursive', sans-serif;
	line-height: 130%;
	font-weight: 550;
}
